@import "../../../sass/variables.scss";

.add-list {
    margin: auto 0;
    position: absolute;
    width: 300px;
    background: $frame-background;
    transform: translateY(-342px) translateX(-226px);
    padding-left: 7px;
    color: $color-white;
    z-index: 3;

    & .linkos {
        text-decoration: none;
        color: $color-white;
    }
}

.new-list {
    height: 30px;
}

.listStyle {
    list-style: none;
}
