@import "../../../sass/variables.scss";

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: all 0.5s;

    @media only screen and(max-width: $bp-medium) {
        font-size: 16px;
    }

    &[type="text"] {
        background: #fff;
        width: 350px;
        height: 40px;
        border: none;
        outline: none;
        padding: 0 25px;
        border-radius: 25px 0 0 25px;
        &::placeholder {
            color: $placeholder-color;
        }

        @media only screen and(max-width: $bp-medium) {
            width: 250px;
            height: 30px;
        }
    }

    &[type="submit"] {
        position: relative;
        border-radius: 0 25px 25px 0;
        height: 40px;
        width: 100px;
        border: none;
        outline: none;
        cursor: pointer;
        background: $primary-color;
        color: $color-white;

        @media only screen and(max-width: $bp-medium) {
            width: 70px;
            height: 30px;
        }

        &:hover {
            background: $hover-color;
        }
    }
}

.searchForm {
    @media only screen and(max-width: 600px) {
        order: 1;
        flex: 0 0 100%;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }
}
